_site
.bundle
.DS_Store
.jekyll-cache
.jekyll-metadata
.sass-cache
Gemfile.lock

*/.DS_Store
**/.Rproj.user
**/.RData
/.DS_Store
**/.Rhistory
**/.Rhistory
.Rproj.user
**/*.log
*/*/*/*/*.log
**/.DS_Store
**/.Ulysses-Group.plist
**/.Ulysses-Settings.plist
**/*history
**/.ipynb_checkpoints
**/.jupyter
**/*_dep
**/.quarto
**/_freeze