			<div id="page-meta" class="t30">
				  <div class="post-tail-wrapper text-muted">
	  <p>post meta...</p>

				<!--<p>-->
					<!-- Look the author details up from the site config. -->
					{% assign author = site.data.authors[page.author] %}
					<!-- Output author details if some exist. -->
					{% if author %}
<span itemprop="author" itemscope itemtype="http://schema.org/Person">
	<span itemprop="name" class="pr20 icon-edit">
		<a href="{{ author.uri }}" target="_blank"> {{ author.name }}</a>
	</span>
</span>
				{% endif %}

				{% if page.date %}
				<time class="icon-calendar pr20" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"> {{ page.date | date: "%Y-%m-%d" }}</time>
				{% endif %}
  <!-- <div class="post-tail-wrapper text-muted"> -->
    <!-- categories -->
    {% if page.categories.size > 0 %}
      <div class="post-meta mb-3">
        <!-- <i class="far fa-folder-open fa-fw me-1"></i> -->
       		<span class="icon-archive pr20"></span>

		{% for category in page.categories %}
         <span><a href="{{ site.baseurl }}/{{ category | slugify | url_encode }}/">{{ category | upcase }}</a>
          {%- unless forloop.last -%},{%- endunless -%}</span>
        {% endfor %}
      </div> <!-- cats-->
	      

    {% endif %}
    <!-- tags -->
    {% if page.tags.size > 0 %}
      <!-- <div class="pr20"> -->
		      <div class="post-meta mb-3">

        <!-- <i class="fa fa-tags fa-fw me-1"></i> -->
		 <span class="icon-price-tag pr10"></span>
        {% for tag in page.tags %}
          <a
            href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
            class="post-tag no-text-decoration"
          >{{- tag -}}  / 
          </a> 
        {% endfor %}
      </div> <!-- tags-->
	  <p>end meta...</p>
    {% endif %}
<!--</p>-->
</div>
<hr>

			{% if page.collection == "posts" %}
			<div id="post-nav" class="row">
				{% if page.previous.url %}
				<div class="small-4 columns">
					<a class="button small radius prev" href="{{ site.url }}{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
				</div><!-- /.small-4.columns -->
				{% endif %}
				<div class="small-4 columns">
					<a class="button small radius expand" href="{{ site.url }}{{ site.baseurl }}/blog/archive/" title="Blog {{ site.data.language.archive }}">{{ site.data.language.archive }}</a>
				</div><!-- /.medium-2.columns -->
				{% if page.next.url %}
				<div class="small-4 columns">
					<a class="button small radius next" href="{{ site.url }}{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a>
				</div><!-- /.small-4.columns -->
				{% else %}
				<div class="small-4 columns">

				</div><!-- /.small-4.columns -->
				{% endif %}
			</div>
			{% endif %}
			<br>
			</div><!--  /.page-meta -->
