{% comment %}<!-- {% capture page_id %}{{ page.slug | default: page.title | slugify }}{% endcapture %}
{% assign row = site.data.postmeta | where: "name", page_id | first %} -->{% endcomment %}
<script>
localStorage.setItem('q_catValue', '');
</script>
{% include _data_fetch.html %}
{% if row %}
<!-- <div class="postmeta--table">   -->
    <!-- <h3>info</h3> -->

<div class="panel radius">  

<table class="postmeta">
	<tr>
  <h3>info</h3></tr><thead><tr>
	<th>key</th><th>value</th></tr></thead>
	<tbody>
  <tr><td><span itemprop="name" class="pr20 icon-edit"></td><td>{% if page.author %}
					<a href="{{ author.uri }}" target="_blank"> {{ page.author.name }}</a></span>
				</span>
				{% endif %}</td></tr>
  <tr><td><span class="icon-calendar pr20"></span></td><td>
				 {% if page.date %}<time>
				{{ page.date | date: "%Y-%m-%d" }}</time>
				{% endif %}
</td></tr>
<tr><td><span class="icon-archive pr20"></span></td><td>{% for category in page.categories %}<span>
            <a href="{{ site.baseurl }}/categories/"><button style="margin: 0 0 0;" class="tiny radius white"  onclick="link_cat('{{ category }}');">{{ category }}</button>
</a>
          {% endfor %}
			</td></tr><tr><td><span class="icon-price-tag pr10"></span></td><td>{% for tag in page.tags %}
          <span><a
            href="{{ site.baseurl }}/{{ tag | slugify | url_encode }}/">{{ tag }}  / 
          </a></span> 
        {% endfor %}
			</td></tr>
  <tr><td>class</td><td>{{ row.class }}</td></tr>
  <tr><td>tutor</td><td>{{ row.tutor }}</td></tr>
  <tr><td>term</td><td>{{ row.term }}</td></tr>
  {% assign segments = page.url | split:'/' %}
{% assign q_cat = segments | last %}
{% if q_cat == "" %}
  {%- assign q_cat = segments[segments.size - 2] -%}
{% endif %}
  <tr><td>SNC</td><td>16533</td></tr>
  <tr><td>issue</td><td>table from _postmeta.html, inserted include aside page.html</td></tr></tbody>
</table>
{% endif %}
</div>