<aside>
<div>
{% comment %}{% include _postmeta.html %}{% endcomment %}<p>postmeta on top</p>
</div>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<!-- <img src="http://placekitten.com/271/270" alt="uh, Placekitten"> -->
		<img src="https://ada-sub.dh-index.org/school/api/png/sebald-stable-diff-001.png" alt="w.g. sebald stable diffusion output">
		<p class="text-left">This is: [w.g. sebald in diff.]</p>
		<p class="text-left">More on <a href="{{ site.url }}{{ site.baseurl }}/essais/sebald/001">[literature]</a>, please!</p>
		<p class="text-left">More on <a href="https://colab.research.google.com/github/huggingface/notebooks/blob/main/diffusers/stable_diffusion.ipynb">[stable diffusion]</a>, please!</p>
		</p>
	</div>
</aside>