
@font-face{
    font-family:'Futura Medium';
    src:url('fonts/Futura-Medium.ttc');
    font-weight:normal;
    font-style:normal;
}
.char-Normal-Local-67 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:23px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-affiliate-Local-89 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:11px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-affiliate-Local-78 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:8px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-headermeta-Local-88 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:6px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-blockhd-Local-76 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:11px;
    font-weight:normal;
    text-decoration:none;
    font-variant-caps:small-caps;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-block-Local-83 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-block-Local-87 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:5px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-listblock-Local-6 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-blockhd-Local-82-Wysiwyg {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:229px;
    font-weight:normal;
    text-decoration:none;
    font-variant-caps:small-caps;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.char-block-Local-91-Wysiwyg {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.char-Normal-Local-81-Wysiwyg {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:1547px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#FFFACD;
    position:absolute;
    left:0px;
    top:0px;
}
.para-NoStyle-100-Wysiwyg {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.char-listblock-Local-90-Wysiwyg {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.para-NoStyle-101-Wysiwyg {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.para-NoStyle-102-Wysiwyg {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.para-NoStyle-103-Wysiwyg {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.para-NoStyle-104-Wysiwyg {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.para-NoStyle-105-Wysiwyg {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.para-NoStyle-106-Wysiwyg {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.para-NoStyle-107-Wysiwyg {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:144px;
    font-weight:normal;
    text-decoration:none;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.char-blockhd-Local-79-Wysiwyg {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:229px;
    font-weight:normal;
    text-decoration:none;
    font-variant-caps:small-caps;
    transform-origin:left;
    -webkit-transform-origin:left;
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
    position:absolute;
    left:0px;
    top:0px;
}
.char-reftxt-Local-33 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-refnames-Local-32 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    font-variant-caps:small-caps;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-reflinks {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-reflinks109 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-reftxt-Local-33111 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-reftxt-Local-48 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-listblock-Local-77 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:11px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-Normal-Local-92 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:9px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-Normal-Local-24 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:36px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-Normal-Local-93 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:20px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-Normal {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:36px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-of-listeblock-0 {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:48px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#FFF200;
}
.char-NeueStilvorlage {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:24px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:rgba(34,32,33,0.8);
}
.char-block {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:16px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-blockhd {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:25px;
    font-weight:normal;
    text-decoration:none;
    font-variant-caps:small-caps;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-blockref {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:14px;
    font-weight:normal;
    text-decoration:none;
    font-variant-caps:small-caps;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-refttl {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:24px;
    font-weight:normal;
    text-decoration:none;
    font-variant-caps:small-caps;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-reftxt {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-refnames {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    font-variant-caps:small-caps;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-code {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:14px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-copyr {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-headermeta {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:20px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-affiliate {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:24px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-tabelle {
    font-family:'Menlo-Regular','Menlo Regular','Menlo';
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.char-listblock {
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.para-Normal-Local-29 {
    text-align:center;
    page-break-inside:initial !important;
    hyphens:none;
    -webkit-hyphens:none;
    -ms-hyphens:none;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-Normal-Local-29 span {
    line-height:23px;
}
.para-Normal-Local-34 {
    text-align:center;
    page-break-inside:initial !important;
    hyphens:none;
    -webkit-hyphens:none;
    -ms-hyphens:none;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-Normal-Local-34 span {
    line-height:27px;
}
.para-Normal-Local-33 {
    text-align:right;
    page-break-inside:initial !important;
    hyphens:auto;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-Normal-Local-33 span {
    line-height:1.2em;
}
.para-Normal-Local-31 {
    text-align:right;
    page-break-inside:initial !important;
    hyphens:auto;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-Normal-Local-31 span {
    line-height:8px;
}
.para-headermeta-Local-30 {
    text-align:left;
    page-break-inside:initial !important;
    hyphens:none;
    -webkit-hyphens:none;
    -ms-hyphens:none;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-headermeta-Local-30 span {
    line-height:11px;
}
.para-Normal {
    text-align:justify;
    page-break-inside:initial !important;
    hyphens:auto;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-Normal span {
    line-height:1.2em;
}
.page ul {
    position:static;
    list-style-type:none;
    padding-left:0px;
    padding-top:0px;
    margin:0px;
}
.para-listeblock {
    text-align:left;
    page-break-inside:initial !important;
    hyphens:auto;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-listeblock span {
    line-height:1.2em;
}
.para-listeblock::before {
    content:"▪";
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.para-Normal-Local-28 {
    text-align:justify;
    page-break-inside:initial !important;
    hyphens:auto;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:2px;
    padding-left:0px;
    padding-right:0px;
}
.para-Normal-Local-28 span {
    line-height:1.2em;
}
.para-refer {
    text-align:left;
    page-break-inside:initial !important;
    hyphens:none;
    -webkit-hyphens:none;
    -ms-hyphens:none;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-refer span {
    line-height:1.2em;
}
.para-refer::before {
    content:"▪";
    font-family:'Futura-Medium','Futura Medium','Futura';
    font-size:7px;
    font-weight:normal;
    text-decoration:none;
    font-variant-caps:small-caps;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#222021;
}
.para-Normal-Local-32 {
    text-align:center;
    page-break-inside:initial !important;
    hyphens:auto;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-Normal-Local-32 span {
    line-height:1.2em;
}
.para-list {
    text-align:left;
    page-break-inside:initial !important;
    hyphens:auto;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-list span {
    line-height:1.2em;
}
.para-headermeta {
    text-align:left;
    page-break-inside:initial !important;
    hyphens:none;
    -webkit-hyphens:none;
    -ms-hyphens:none;
    line-height:1px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.para-headermeta span {
    line-height:35px;
}
.QxpSVG {
    position:inherit;
}
.QxpImage {
    position:absolute;
    top:0px;
    left:0px;
}
.QxpFlexImage {
    width:100%;
    height:100%;
    vertical-align:top;
}
.QxpImgKeepAR {
    width:100%;
    height:auto;
    vertical-align:top;
}
.QxpAnchImage {
    position:static;
    top:0px;
    left:0px;
}
.QxpSuperscript {
    line-height:1;
    font-size:0.6em;
    vertical-align:baseline;
}
.QxpSubscript {
    line-height:1;
    font-size:1em;
    vertical-align:baseline;
}
.QxpTextBox {
    position:absolute;
    left:0px;
    top:0px;
    white-space:nowrap;
    width:100%;
    height:100%;
    line-height:1;
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    transform:scale(0.05, 0.05);
    -webkit-transform:scale(0.05, 0.05);
}
.QxpVertTextBox {
    position:absolute;
    white-space:nowrap;
    width:100%;
    height:100%;
    top:0px;
    right:0px;
    line-height:1;
    transform-origin:100% 0%;
    -webkit-transform-origin:100% 0%;
    transform:scale(0.05, 0.05);
    -webkit-transform:scale(0.05, 0.05);
}
